<div class="container">
    <div class="container mt-4">
        <div class="rounded p-4 text-white" style="background-color: darkgray;">
          <h4 style="text-align:center">Automate and monitor your Reddit posts with ease!</h4><br>
          <h6>rScheduler is a simple web-app that allows you to automate and schedule Reddit posts to reduce your workload and free up time you would normally spend manually posting
            and reviewing each post's statistics. This app was created as a easy-to-use and free alternative to other scheduling apps that operate on a subscription model.</h6>
          <br><h6>To start scheduling posts, simply click on the Login button at the top right of your screen, register, link your account, and create new posts to schedule!</h6>
          <br>
        </div>
      </div>
</div>