<h4>Account List:</h4>
<button class="add-account-btn">
    <a href='/addaccount' routerLink='/addaccount'>Click here to add a new account</a>
  </button>
<div class="container mt-5">
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Token</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let token of redditTokens; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ token.username }}</td>
        <td>
            <span *ngIf="!token.showPassword">******</span>
            <span *ngIf="token.showPassword">{{ token.token }}</span>
            <button (click)="togglePassword(token)" class="btn btn-sm btn-link">
            {{ token.showPassword ? 'Hide' : 'Show' }}
          </button>
        </td>
        <td>
            <button class="btn btn-danger btn-sm" (click)="deleteToken(token)">
              Delete
            </button>
          </td>
        </tr>
    </tbody>
    </table>
</div>